<div class="boxed_wrapper ltr">
  <!--Start breadcrumb area paroller-->
  <section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg);">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="inner-content">
            <div class="breadcrumb-menu" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
              <ul>
                <li><a routerLink="/home">Home</a></li>
                <li class="active">About Us</li>
              </ul>
            </div>

            <div class="title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
              <h2>About Us</h2>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End breadcrumb area-->


  <!--Start About Style3 Area-->
  <section class="about-style3-area">
    <div class="shape1"></div>
    <div class="container">
      <div class="row">

        <div class="col-xl-7">
          <div class="about-style3__img-box">
            <div class="inner">
              <img src="assets/images/about/about-style1__image-2.jpg" alt="">
            </div>
            <div class="about-style3-experience">
              <p>We have <span>20+ years</span> of experiences</p>
            </div>
          </div>
        </div>

        <div class="col-xl-5">
          <div class="about-style3__content">
            <div class="sec-title">
              <div class="sub-title">
                <h3>Get to Know Us</h3>
              </div>
              <h2>TerraNova</h2>
            </div>

            <ul>
              <li>
                <span class="icon-check-mark-button"></span>
                <h3>We’re Professional</h3>
                <p>Established in 2022, we are a licensed and approved facility to have become a premier destination for
                  the recycling of e-waste & batteries, precious metal recovery, metal refining, data destruction &
                  wiping services, and Telecom towers sites operations.</p>
              </li>
              <li>
                <span class="icon-check-mark-button"></span>
                <h3>We’re Professional</h3>
                <p>Our organization of experience driven individuals, with more than 20 years in the department of
                  e-waste, specialize in solutions for proper, environmentally-sensitive recycling.</p>
              </li>
            </ul>

            <div class="text">
              <p>
                As an organization, Terranova Eco is committed to professional, business, environmental and civic
                engagement well beyond the scope of the existing
                company. Our purpose is to create a world without waste to preserve our planet. Sustainability is a key
                consideration in all our services and operations.
                <br>
                <br>
                Part of our our mission is to provide the highest
                quality in recycling services to foster a positive change and support to the community.
              </p>
            </div>

            <div class="author-box">
              <!-- <div class="img-box">
                <img src="assets/images/about/about-style2__author-img.png" alt="">
              </div> -->

              <div class="title">
                <h2>Guha Jayaram</h2>
                <span>Managing Director</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End About Style3 Area-->



  <!--Start About Style3 Area-->
  <section class="about-style3-area">
    <div class="shape1"></div>
    <div class="container">
      <div class="row">


        <div class="col-xl-12">
          <div class="about-style3__content">
            <!-- <div class="sec-title">
              <div class="sub-title">
                <h3>Our</h3>
              </div>
              <h2>Mission and Vision</h2>
            </div> -->

            <ul>
              <li>
                <!-- <h3>Our</h3> -->
                <!-- <span class="icon-check-mark-button"></span> -->
                <div class="sec-title">
                  <!-- <div class="sub-title">
                    <h3>Our</h3>
                  </div> -->
                  <h2>Mission</h2>
                </div>
                <p>Our Mission at Terranova Eco Management is to protect the environment and promote sustainable living
                  by responsibly managing and recycling electronic waste. We Shall leverage cutting-edge technology and
                  synchronized processes to provide comprehensive waste management solutions that are not only
                  cost-effective but also environmentally sustainable. Our commitment to intellectual property integrity
                  and compliance with legal regulations will ensure that we deliver high-quality services that meet the
                  needs of our clients We shall strive to provide safe solutions for disposal of e-waste, while creating
                  economic opportunities and promoting digital inclusion. We are committed to reducing the carbon
                  footprint of electronic waste , preserving natural resources, minimise waste generation and protect
                  our planet for future generations.

                </p>
              </li>
              <li>
                <!-- <span class="icon-check-mark-button"></span> -->
                <!-- <h3>We’re Professional</h3> -->
                <div class="sec-title">
                  <!-- <div class="sub-title">
                    <h3>Our</h3>
                  </div> -->
                  <h2>Vision</h2>
                </div>
                <p>Our Vision at Terranova Eco Management private limited is to be a Global leader in Electronic Waste
                  Management, ITAD and metal recovery. We wish to be recognized for our commitment towards responsible,
                  sustainable and Industry Best Practices. We strive to create a world where electronic waste is no
                  longer a threat to the environment, but instead an opportunity for growth and development. By
                  continuously innovating and improving our processes, we aim to be a role model for the industry
                  fostering a culture of sustainability and responsibility. Together we will work towards a greener
                  future for all.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End About Style3 Area-->





  <!--Start Testimonial Style2 area -->
  <section class="testimonial-style2-area">
    <div class="container">
      <div class="sec-title text-center">
        <div class="sub-title">
          <h3>The Company</h3>
        </div>
        <h2>Meet Our Team</h2>
      </div>
      <div class="testimonial-style2__inner-content">
        <div class="testimonial-style2__carousel owl-carousel owl-theme owl-dot-style1 rtl-carousel">
          <!--Start Testimonial Style2 Single-->
          <div class="testimonial-style2__single text-center">
            <!-- <div class="img-holder">
                          <img src="assets/images/testimonial/testimonial-v2-1.jpg" alt="" />
                      </div> -->
            <div class="text-holder">
              <div class="client-info">
                <h3>Guha Jayaram</h3>
                <span>Managing Director</span>
              </div>
              <p>With Over 20+ years of Experience in E-Waste Recycling Industry in India, Malaysia, Singapore and
                worked closely with Asian Countries </p>
            </div>
          </div>
          <!--End Testimonial Style2 Single-->
          <!--Start Testimonial Style2 Single-->
          <div class="testimonial-style2__single text-center">
            <!-- <div class="img-holder">
                          <img src="assets/images/testimonial/testimonial-v2-2.jpg" alt="" />
                      </div> -->
            <div class="text-holder">
              <div class="client-info">
                <h3>Suhas Krishnaswamy</h3>
                <span>Vice President</span>
              </div>
              <p>More than 12 years Experience in E-waste Recycling, Refurbishing and EPR activities PAN India</p>
            </div>
          </div>
          <!--End Testimonial Style2 Single-->
          <!--Start Testimonial Style2 Single-->
          <div class="testimonial-style2__single text-center">
            <!-- <div class="img-holder">
                          <img src="assets/images/testimonial/testimonial-v2-3.jpg" alt="" />
                      </div> -->
            <div class="text-holder">
              <div class="client-info">
                <h3>Divye kohil</h3>
                <span>Director</span>
              </div>
              <p>Though having a entrepreneur's family background, with a passion to work in E-waste management
                services, has managed to work in multiple companies in the top management roles. </p>
            </div>
          </div>
          <!--End Testimonial Style2 Single-->
        </div>
      </div>
    </div>
  </section>
  <!--End Testimonial Style2 area -->





  <!--Start Team Page-->
  <!-- <section class="team-page" style="padding: 120px 0 30px;">
    <div class="container">
      <div class="sec-title text-center">
        <div class="sub-title">
          <h3>Company Staff</h3>
        </div>
        <h2>Meet Our Team</h2>
      </div>
      <div class="row">

        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single-team-style1">
            <div class="img-holder">
              <div class="inner">
                <img src="assets/images/team/team-v1-1.jpg" alt="" />
              </div>
              <div class="title-holder text-center">
                <h2>Guha Jayaram</h2>
                <h3>MP</h3>
                <div class="overlay-title">
                  <h2>Guha Jayaram</h2>
                  <h3>MP</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus incidunt nulla dolorem
                    expedita nam sequi totam quod. Error aspernatur et nisi reiciendis nobis culpa vel amet, repellendus
                    minima velit quidem.</p>
                  <ul class="social-links">
                    <li><i class="icon-twitter"></i></li>
                    <li><i class="icon-facebook"></i></li>
                    <li><i class="icon-instagram"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single-team-style1">
            <div class="img-holder">
              <div class="inner">
                <img src="assets/images/team/team-v1-2.jpg" alt="" />
              </div>
              <div class="title-holder text-center">
                <h2>Suhas Krishnaswamy</h2>
                <h3>Vice President</h3>
                <div class="overlay-title">
                  <h2>Suhas Krishnaswamy</h2>
                  <h3>Vice President</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus incidunt nulla dolorem
                    expedita nam sequi totam quod. Error aspernatur et nisi reiciendis nobis culpa vel amet, repellendus
                    minima velit quidem.</p>
                  <ul class="social-links">
                    <li><i class="icon-twitter"></i></li>
                    <li><i class="icon-facebook"></i></li>
                    <li><i class="icon-instagram"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single-team-style1">
            <div class="img-holder">
              <div class="inner">
                <img src="assets/images/team/team-v1-3.jpg" alt="" />
              </div>
              <div class="title-holder text-center">
                <h2>Divye kohil</h2>
                <h3>Managning Clients</h3>
                <div class="overlay-title">
                  <h2>Divye kohil</h2>
                  <h3>Managning Clients</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus incidunt nulla dolorem
                    expedita nam sequi totam quod. Error aspernatur et nisi reiciendis nobis culpa vel amet, repellendus
                    minima velit quidem.</p>
                  <ul class="social-links">
                    <li><i class="icon-twitter"></i></li>
                    <li><i class="icon-facebook"></i></li>
                    <li><i class="icon-instagram"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section> -->
  <!--End Team Page-->




  <!--Start Partner Area-->
  <section class="partner-area ">
    <div class="container">
      <div class="brand-content">
        <div class="inner">
          <ul class="partner-box partner-carousel owl-carousel owl-theme owl-dot-style1 rtl-carousel">
            <!--Start Single Partner Logo Box-->
            <li class="single-partner-logo-box">
              <img src="assets/images/brand/brand-logo-1.png" alt="Awesome Image">
            </li>
            <!--End Single Partner Logo Box-->
            <!--Start Single Partner Logo Box-->
            <li class="single-partner-logo-box">
              <img src="assets/images/brand/brand-logo-2.png" alt="Awesome Image">
            </li>
            <!--End Single Partner Logo Box-->
            <!--Start Single Partner Logo Box-->
            <li class="single-partner-logo-box">
              <img src="assets/images/brand/brand-logo-3.png" alt="Awesome Image">
            </li>
            <!--End Single Partner Logo Box-->
            <!--Start Single Partner Logo Box-->
            <li class="single-partner-logo-box">
              <img src="assets/images/brand/brand-logo-4.png" alt="Awesome Image">
            </li>
            <!--End Single Partner Logo Box-->
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--End Partner Area-->



</div>
